<%= semantic_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs %>
  <%= f.inputs :for => [:phonenumber, @person.phonenumber] do |p| %>
    <%= p.inputs %>
  <% end %>
  
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
